.horizontal-center{
	font-size:1em;
	text-transform:lowercase;
	letter-spacing: 2pt;
	line-height:18pt;
	font-style:italic;
}

.column-1{
	width: 500px;
	margin: 100px;
	left:20%;
	position: relative;
	float: left;
	color:#313EA0;
}

.position-1{
	position:fixed;
	margin:100px auto;
	left:10%;
	color:#313EA0;
}

	p{
		color:#5C758E;
		opacity:0.7;
	}

 	a{
      	color: #313EA0; 
      	text-decoration: none;
      	opacity:0.7;
    }

    a:hover {
     	background-color: #FFFCB4;
    }
