* {
	box-sizing: border-box;
	background-color:#f0e7de;
}

body{
	line-height: 1.5em;
	color:#7F93C9;
	font-size: 1em;
}

.h1{
	margin: 20px;
	font-size: 3em;
	font-family: 'Libre Franklin', sans-serif;
}

.main{
	width: 80%;
	margin: 100px auto;
	padding: 50px;
	font-family: 'Libre Baskerville', serif;
}


ul{
	list-style: none;
}
 
ul li{
	color: #dadada;
}

a:link{
	color: #0000ff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


