* {
	box-sizing: border-box;
	background-color:#f0e7de;
}

body{
	color:#7F93C9;
	font-family: 'Cormorant Garamond', sans-serif;
}

h1{
	margin-left:10vw;
	margin-top:30vh;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:2pt;
}

ul{
	list-style: none;
	margin-left:10vw;
	color:#7F93C9;
}

a{
	text-decoration: none;
	color: inherit;
	font-weight:400;

}

a:hover{
	text-decoration: underline;
}


