.horizontal-center{
	width:1000px;
	margin:100px auto;
	color:#B1CF8E;
	font-size:7.5em;
	font-family:Lust Display, serif;
	font-style:italic;
}

.horizontal-center-fixed{
	height:500px;
	width:500px;
	color:#090F65;
	font-size:7em;
	font-weight:bold;
}

.position-1{
	margin-top:-10%;
	padding-left:70%;
	position:fixed;
	display:block;
	opacity:0.1;
}

.position-2{
	margin-top:7%;
	padding-left:40%;
	color:#090F65;
	position:fixed;
	opacity:0.1;
	display:block;
}

.position-3{
	margin-top:-30%;
	padding-left:20%;
	color:#090F65;
	position:fixed;
	opacity:0.1;
	display:block;
}

.position-4{
	margin-top:-3%;
	margin-left:-4%;
	color:#090F65;
	position:fixed;
	opacity:0.1;
	display:block;
}


a{
	text-decoration:none;
	cursor:crosshair;
	color:green;
	opacity:0.3;
}

a:hover{
	opacity:1;
	cursor:crosshair;
}

.nav{
	margin-left:85vw;
	margin-top:-10vh;
	position:absolute;
	z-index:1000;
}