.horizontal-center{
	height:1500px;
	width:200px;
	margin:100px auto;
	color:skyblue;
}

.h{
	font-family:'Cormorant SC', serif;
	font-weight:500;
	font-size: 2em;
	line-height:23pt;
	letter-spacing: 3pt;
	color:white;
	position:fixed;
	background-color:darkblue;
	padding:20px;
	}

.st{
	font-family:'Cormorant Upright', serif;
	font-weight:500;
	font-style:italic;
	text-align:center;
	font-size: 0.5em;
}

.body{
	font-family:'Cormorant Garamond', serif;
	font-weight:300;
	text-align:center;
}

.adj{
	font-family:'Cormorant Upright', serif;
	font-weight:700;
	font-style:italic;
}

a{
	text-decoration:none;
	cursor:crosshair;
	color:darkblue;
	opacity:0.3;
	letter-spacing:2pt;
	font-weight:500;
}

a:hover{
	opacity:1;
	cursor:crosshair;
}

.nav{
	margin-left:86vw;
	margin-top:80vh;
	position:fixed;
	z-index:1000;
}
