.horizontal-center{
	width:200px;
	padding:20px;
	color:#633F00;
	border-style:dotted;
	background-color:#FEE2B1;
	float:left;
	margin-left:5%;
	opacity:0.5;
}

.position-3{
	color:#633F00;
	opacity:0.5;
	position:fixed;
	width:800px;
	padding-left:60%;
	margin-top:-14%;
}

.position-2{
	color:#633F00;
	opacity:0.3;
	position:fixed;
	width:800px;
	padding-left:30%;
	margin-top:-14%;
}

.position-1{
	color:#633F00;
	opacity:0.1;
	position:fixed;
	width:800px;
	margin-top:-14%;
}

	a{
	text-decoration:none;
	cursor:crosshair;
	color:black;
		
	}
	
	button{
	color:#7F93C9;
	border:none;
	border-radius:10px;
	font-family:inherit;
	text-transform:uppercase;
	letter-spacing:0.5pt;
	padding:1vh;
	opacity:0.3;
	background-color:transparent;
	
	}

	button:hover{
	opacity:1;
	cursor:crosshair;
	
	}

	.nav{
	margin-left:85vw;
	margin-top:90vh;
	position:fixed;
	}