.horizontal-center{
	color:#313EA0;
	font-size:1em;
	text-transform:lowercase;
	letter-spacing: 2pt;
	line-height:18pt;
	font-style:italic;
	opacity:0.7;
}

.column-1{
	width: 50px;
	margin: 100px;
	left:20%;
	position: relative;
	float: left;
}

.column-2{
	width: 50px;
	margin: 100px;
	left:20%;
	position: relative;
	float: left;
}

.column-3{
	width: 50px;
	margin: 100px;
	left:20%;
	position: relative;
	float: left;
}

.position-1{
	position:fixed;
	opacity:0.3;
	margin:100px auto;
	left:10%;
}

a{
	text-decoration:none;
	cursor:crosshair;
	color:lightgrey;
}

button{
	color:#7F93C9;
	border:none;
	border-radius:10px;
	font-family:inherit;
	text-transform:uppercase;
	letter-spacing:0.5pt;
	padding:1vh;
	opacity:0.3;
	background-color:transparent;
}

button:hover{
	opacity:1;
	cursor:crosshair;
}

.nav{
	margin-top:85vh;
	margin-left:85vw;
	position:fixed;
}
